<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page">Sistema <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="listar-aprendiz">Listar aprendices</a>
        <a class="nav-item nav-link" routerLink="listar-programa">Listar Programa</a>
        <a class="nav-item nav-link" routerLink="listar-desercion">Listar Desercion</a>
    </div>
</nav>

<div class="container">
    <br>
    <router-outlet>

    </router-outlet>

    
</div>